@charset "UTF-8";

body {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background: #8a8a8a;
    color: white;
    padding: 0 100%;
}

h2 {
    color: black;
    text-align: center;
    padding: 10px;
}

li::marker{
    color: blue;
}

.titulo_lista {
    color: red;
}

.btn:hover{
    color: #525252;
    font-size: 1.01em;
}